* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 100%;

  transition: background 0.4s ease;

  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
